<link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
<link rel="shortcut icon" type="image/png" href="/image/fav.png" />
<link rel="stylesheet" href="css/login.css">

<div class="login">
  <div class="login-header">
    <h1>Login</h1>
  </div>
  <form action="/signup/all" method="post">
  <div class="login-form">



    <% if (messages.error) { %>
      <center> <div class="alert alert-danger" role="alert" style="color: red;"><h4><%- messages.error %></h4></div> </center>
     <% } %>
      <br>
    <h3>Mobile Number:</h3>
    <input type="text" placeholder="Mobile Number" name="number" /><br>
    <h3>Password:</h3>
    <input type="password" placeholder="Password" name="password"/>
    <br>
    <button type="submit" class="login-button"/>Login</button>
    <br>
    <a class="sign-up" href="/signup">Sign Up!</a>
    <br>
  </div>
  </form>
</div>
